version: '3.8'

services:
  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: psoftdb
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql

  app:
    build: .
    image: psoft-app
    depends_on:
      - mysql
    ports:
      - "9090:8080"
    environment:
      SPRING_PROFILES_ACTIVE: staging

volumes:
  mysql-data:
